.App {
  margin-top: 20px;
}

.startContainer {
  margin-top: 30px;
}

.gameMessage {
  -webkit-text-fill-color: #da291c; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-weight: bold;
  font-size: 40px;
}

.gameCounter {
  font-size: 30px;
  opacity: 1;
  transition: opacity ease-in-out 4s;
  -webkit-transition: opacity ease-in-out 4s;
  -moz-transition: opacity ease-in-out 4s;
  -o-transition: opacity ease-in-out 4s;
  -ms-transition: opacity ease-in-out 4s;
}

.fade-out {
  opacity: 0;
}
