@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
/* @import url("https://hellowhirl.github.io/react-seconds-counter-game/static/media/ready2count.05013ceb.m4a"); */
/* @import url("http://localhost:3000/static/media/ready2count.05013ceb.m4a"); */

.App {
  margin-top: 20px;
}

h1 {
  margin-bottom: 0 !important;
  font-family: "Bungee Inline", cursive;
}
h4 {
  font-family: "Permanent Marker", cursive;
  margin-bottom: 20px !important;
}

button {
  width: 140px;
  height: 52px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInfadeOut {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.9;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.blinking {
  animation: fadeInfadeOut 4s infinite;
}

.gameMessage {
  font-weight: bold;
  font-size: 60px;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(red, red, red, #333, #333);
  background: -webkit-linear-gradient(red, red, red, #333, #333);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 0, 0, 1);
}

.messageSuccess {
  font-weight: bold;
  font-size: 52px;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(#333, #d8d800, #d8d800, #d8d800);
  background: -webkit-linear-gradient(#333, #d8d800, #d8d800, #d8d800);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 0, 0, 1);
}

.messageFailure {
  font-weight: bold;
  font-size: 52px;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(#333, #333, #651fff, #651fff, #651fff);
  background: -webkit-linear-gradient(#333, #333, #651fff, #651fff, #651fff);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 0, 0, 1);
}

.gameCounter {
  /* margin-bottom: 20px; */
  font-size: 44px;
  opacity: 0;
}

.difference {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  opacity: 0;
  color: #555;
  line-height: 1.1;
}

.unhidden {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 1;
}

.fade-out {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 3.5s;
}
