@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");

.App {
  margin-top: 20px;
}

h1 {
  margin-bottom: 0 !important;
  font-family: "Bungee Inline", cursive;
}
h4 {
  font-family: "Permanent Marker", cursive;
  margin-bottom: 20px !important;
}

button {
  width: 120px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.gameMessage {
  font-weight: bold;
  font-size: 60px;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(red, red, red, #333, #333);
  background: -webkit-linear-gradient(red, red, red, #333, #333);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 0, 0, 1);
}

.messageSuccess {
  font-weight: bold;
  font-size: 40px;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(#333, #333, yellow, yellow, yellow);
  background: -webkit-linear-gradient(#333, #333, yellow, yellow, yellow);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 0, 0, 1);
}

.messageFailure {
  font-weight: bold;
  font-size: 40px;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: linear-gradient(#333, #333, purple, purple, purple);
  background: -webkit-linear-gradient(#333, #333, purple, purple, purple);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 0, 0, 1);
}

.gameCounter {
  margin-top: 20px;
  font-size: 40px;
  opacity: 0;
}

.unhidden {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 1;
}

.fade-out {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 3.5s;
}
